.appbar{
    height: 35px;
    width: 100%;
    line-height: 35px;
    /*background: #111;*/
    position: absolute;
    top: 0;
    z-index: 100;
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-size: 16px;
}

.appbar-icon{
    width: 27px;
    height: 27px;
    margin: 4px;
    margin-right: 6px;
    float: right;
}
.appbar-icon-small{
    box-sizing: border-box;
    padding: 3px;
    width: 25px;
    height: 25px;
    margin: 4px;
    line-height: 25px;
    text-align: center;
    transition: .2s ease;
    border-radius: 100px;
    float: left;
}
.appbar-icon-small:hover{
    background: rgba(255,255,255,.3);
    cursor: pointer;
}
.appbar-icon-small.right{
    float:right;
}