.all-wrapper{
    perspective: 500px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 20px;
    transition: 1s cubic-bezier(0.8 , 0 , 0.2 , 1);

    background: url('/src/views/system/img/wallpapers/default-1.png') no-repeat center;
    background-size: cover !important;
    animation: popIn .5s ease;
}


.backdrop-blur{
    backdrop-filter: blur(50px);
    background: rgba(0,0,0,.6);
}


.app-window{
    width: 1000px;
    height: 600px;
    top: 100px;
    left: 300px;
    position: fixed;
    border-radius: 17px;
    overflow: hidden !important;
    box-shadow: 0px 7px 20px rgba(0,0,0,.6);
    animation: popIn .3s cubic-bezier(.17,.67,0,.83);
}
.app-window.minimized{
    transform: scale(0.99);
    opacity: 0;
}

.app-window-inner{
    font-size: 18px;
    width: 100%;
    height: calc(100% - 35px);
}

.app-window-split{
    height: 100%;
    float: left;
}
.app-window-split.left{
    width: 22%;
    height: 100%;
    border-radius: 17px 0 0 17px;
    padding-top: 35px;
}
.app-window-split.right{
    width: 78%;
    background: #121315;
    box-sizing: border-box;
    height: calc(100% + 35px);
    padding: 15px;
    padding-top: 35px;
}
.app-window-statusbar{
    color: rgba(255,255,255,.2);
    position: absolute;
    width: 100%;
    padding-left: 7px;
    box-sizing: border-box;
    height: 30px;
    bottom: 0;
    right: 0;
}
.app-window-statusbar.right{
    width: 78%;
}

.app-window-category{
    width: calc(100% );
    height: 50px;
    line-height: 50px;
    transition: .1s ease;
}
.app-window-category:hover{
    background: rgba(0,0,0,.3);
    cursor: pointer;
}

.app-window-category-icon{
    margin-right: 10px;
    font-size: 24px;
    float: left;
}

.icon{
    width: 22px;
    padding: 14px;
    float: left;
    padding-right: 10px;
}

.desktop-icon{
    width: 90px;
    height: 130px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: .2s cubic-bezier(.17,.67,0,.83);
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.desktop-icon:hover{
    background: rgba(0,0,0,.5);
    cursor: pointer;
    box-shadow: 0px 7px 20px rgba(0,0,0,.6);
}
.desktop-icon:active{
    background: rgba(0,0,0,.6);
    box-shadow: 0px 4px 9px rgba(0,0,0,.7);
    transform: scale(.9);
}

.desktop-icon-img{
    width: 90px;
    height: 90px;
}

@keyframes popIn{
    0%{ opacity: 0; transform: scale(.95);}
    100%{ opacity: 1; transform: scale(1);}
}