.all-wrapper{
    perspective: 500px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 20px;
    transition: 1s cubic-bezier(0.8 , 0 , 0.2 , 1);
    display: flex;
    flex-direction: column;

    background: url('/src/views/system/img/wallpapers/default.png') no-repeat center;
    background-size: cover !important;

    animation: popIn .5s ease;
}

.background-video{
    min-height: 100%;
    min-width: 100%;
}


.backdrop-blur{
    backdrop-filter: blur(40px);
    background: rgba(255,255,255,.3);
}

.notification-wrapper{
    position: fixed;
    top:0;
    right: 0;
    width: auto;
    height: auto;
    padding: 20px;
}


button.hover-ripple{
    transition: .2s ease;
    color: #111;
}
button.hover-ripple:hover{
    box-shadow: 0px 3px 13px rgba(0,0,0,.2);
}
button.hover-ripple:active{
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,.3);
}

.app-window{
    width: 1000px;
    height: 600px;
    top: 100px;
    left: 300px;
    position: fixed;
    border-radius: 17px;
    overflow: hidden !important;
    box-shadow: 0px 7px 20px rgba(0,0,0,.4);
    animation: popIn .3s cubic-bezier(.17,.67,0,.83);
}
.app-window.minimized{
    transform: scale(0.99);
    opacity: 0;
}

.app-window-inner{
    font-size: 18px;
    width: 100%;
    height: calc(100% - 35px);
}

.app-window-split{
    height: 100%;
    float: left;
}
.app-window-split.left{
    width: 22%;
    height: 100%;
    border-radius: 17px 0 0 17px;
    padding-top: 35px;
    z-index: 3;
}
.app-window-split.right{
    width: 78%;
    background: #fff;
    box-sizing: border-box;
    height: calc(100% + 35px);
    padding: 15px;
    padding-top: 35px;
    padding-left: 35px;
    z-index: 4;
    overflow: auto;
}
.app-window-statusbar{
    color: rgba(255,255,255,.2);
    position: absolute;
    width: 100%;
    padding-left: 7px;
    box-sizing: border-box;
    height: 30px;
    bottom: 0;
    right: 0;
}
.app-window-statusbar.right{
    width: 78%;
}

.app-window-category{
    width: calc(100% );
    height: 50px;
    line-height: 50px;
    transition: .1s ease;
}
.app-window-category svg path{
    fill: rgba(0,0,0,.8) !important;
}
.app-window-category:hover{
    background: rgba(255,255,255,.3);
    cursor: pointer;
}

.app-window-category-icon{
    margin-right: 10px;
    font-size: 24px;
    float: left;
}


.icon{
    width: 22px;
    font-size: 22px;
    padding: 14px;
    float: left;
    padding-right: 10px;
}

.desktop-icon{
    width: 90px;
    height: 130px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: .2s cubic-bezier(.17,.67,0,.83);
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    color: #eee;
    text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
.desktop-icon:hover{
    background: rgba(0,0,0,.1);
    cursor: pointer;
}
.desktop-icon:active{
    background: transparent;
    transform: scale(.9);
}

.desktop-icon-img{
    width: 90px;
    height: 90px;
}

@keyframes popIn{
    0%{ opacity: 0; transform: scale(.95);}
    100%{ opacity: 1; transform: scale(1);}
}


.notification{
    height: 120px;
    width: 400px;
    box-shadow: 0px 7px 20px rgba(0,0,0,.2);
    border-radius: 17px;
    z-index:150;
    display: flex;
    border-radius: 17px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    animation: notification 0.4s cubic-bezier(0.8 , 0 , 0.2 , 1);
}

@keyframes notification{
    0%{
        transform: scale(.7) translate(500px, -30px);
    }
}
@keyframes notificationOut{
    100%{
        margin-top: -140px;
        opacity: 0;
    }
}

.notification-image{
    width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    color: #222;
}

.notification-content{
    text-align: left;
    flex: 1;
    min-width: 400px;
    white-space: nowrap;
    line-height: 22px;
    padding-top: 13px;
    background: linear-gradient(to right, #222f 0%, #222f 55%, #2220 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.notification-title{
    font-size: 26px;
    font-weight: 500;
    font-family: "Rubik";
}
.notification-text{
    font-size: 18px;
}

.settings-section{
    width: 100%;
    height: auto;
}
.app-window-split.right h2{
    position: sticky; 
    top: 0; 
    z-index: 20; 
    background: white;
    border-left: 35px solid white;
    margin-left: -35px;
    border-top: 35px solid white;
    padding-bottom: 8px;
}

::-webkit-scrollbar{
    width: 20px;
    position: fixed;
}
::-webkit-scrollbar-track{
    border: solid 7px transparent;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);
    border: solid 7px transparent;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:active{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.4);
}

*:before,
*:after {
  box-sizing: border-box;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: ease 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: #fff;
}
.toggle-checkbox:checked + .toggle-switch {
  background: #111;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 28px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
