<video class="background-video" autoplay loop muted></video>
<div class="all-wrapper" id="all-wrapper">
    <div class="desktop-icon">
        <img class="desktop-icon-img" src="/src/views/system/icons/McMojave-circle-black-dark/places/48/custom-folder.svg">
        <nobr>Stuff</nobr>
    </div>
    <div class="desktop-icon">
        <img class="desktop-icon-img" src="/src/views/system/icons/McMojave-circle-black-dark/places/48/custom-folder.svg">
        <nobr>RMC's folder</nobr>
    </div>
    <div class="desktop-icon">
        <img class="desktop-icon-img" src="/src/views/system/icons/McMojave-circle-black-dark/places/48/custom-folder.svg">
        <nobr>homework</nobr>
    </div>
</div>
<div id="notifications" class="notification-wrapper"></div>