<div class="bulldock-background ui-state-disabled backdrop-blur">
    <div data-name="Deck" class="bulldock-icon" onclick="POS.openAppWindow('deck')">
        <span class="iconify" data-icon="uil:rocket" data-inline="false"></span>
    </div>
</div>
<div class="bulldock-background ui-state-disabled backdrop-blur">
    <div data-name="Flexplorer" class="bulldock-icon" onclick="POS.openAppWindow('flexplorer')">
        <span class="iconify" data-icon="uil:folder" data-inline="false"></span>
    </div>
    <div data-name="TurboNet" class="bulldock-icon" onclick="POS.openAppWindow('turbonet')">
        <span class="iconify" data-icon="uil:globe" data-inline="false"></span>
    </div>
    <div data-name="TitanMusix" class="bulldock-icon" onclick="POS.openAppWindow('titanmusix')">
        <span class="iconify" data-icon="uil:music" data-inline="false"></span>
    </div>
    <div data-name="System Settings" class="bulldock-icon" onclick="POS.openAppWindow('settings')">
        <span class="iconify" data-icon="uil:cog" data-inline="false"></span>
    </div>
    <div data-name="Terminal" class="bulldock-icon" onclick="POS.openAppWindow('terminal')">
        <span class="iconify" data-icon="uil:arrow" data-inline="false"></span>
    </div>
</div>

<div class="bulldock-background ui-state-disabled backdrop-blur">
   <div class="dockclock" id="dockclock">00:00</div>
</div>


<section style="margin-left: auto;display: flex">
    <div class="bulldock-background ui-state-disabled backdrop-blur">
        <div data-name="Battery: 100%" class="bulldock-icon">
            <span class="iconify" data-icon="uil:battery-empty" data-inline="false"></span>
        </div>
        <div data-name="Volume" class="bulldock-icon">
            <span class="iconify" data-icon="uil:volume-down" data-inline="false"></span>
        </div>
    </div>

    <div class="bulldock-background ui-state-disabled backdrop-blur" style="margin: 0">
        <div data-name="Control Center" class="bulldock-icon">
            <span class="iconify" data-icon="uil:sliders-v-alt" data-inline="false"></span>
        </div>
    </div>
</section>