<img src="/src/views/system/icons/McMojave-circle-black-dark/apps/wine.svg" class="bulldock-icon">
<img src="/src/views/system/icons/McMojave-circle-black-dark/apps/opera.svg" class="bulldock-icon">
<img src="/src/views/system/icons/McMojave-circle-black-dark/apps/discord.svg" class="bulldock-icon">
<img src="/src/views/apps/settings/icon.svg" onclick="POS.openAppWindow('settings')" class="bulldock-icon">
<img src="/src/views/system/icons/McMojave-circle-black-dark/apps/terminal.svg" onclick="POS.openAppWindow('terminal')" class="bulldock-icon">