<div class="bulldock-background ui-state-disabled backdrop-blur"></div>
<img name="Deck" src="/src/views/system/img/deck.svg" onclick="POS.openAppWindow('deck')" class="bulldock-icon">
<img name="Flexplorer" src="/src/views/system/icons/McMojave-circle-black-dark/places/48/custom-folder.svg" onclick="POS.openAppWindow('flexplorer')" class="bulldock-icon">
<img name="TurboNet" src="/src/views/system/icons/McMojave-circle-black-dark/categories/32/applications-internet.svg"  class="bulldock-icon">
<img name="TitanMusix" src="/src/views/system/icons/McMojave-circle-black-dark/apps/rhythmbox.svg" class="bulldock-icon">
<img name="System Settings" src="/src/views/apps/settings/icon.svg" onclick="POS.openAppWindow('settings')" class="bulldock-icon">
<img name="Terminal" src="/src/views/system/icons/McMojave-circle-black-dark/apps/terminal.svg" onclick="POS.openAppWindow('terminal')" class="bulldock-icon">