<script src="/src/views/apps/settings/js/settings.js"></script>
<div class="app-window-split left backdrop-blur">
    <div onclick="POS.settings.loadCategory('general')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/home-outline.svg"> General
    </div>
    <div onclick="POS.settings.loadCategory('display')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/monitor-outline.svg"> Display
    </div>
    <div onclick="POS.settings.loadCategory('sound')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/volume-up-outline.svg"> Sound
    </div>
    <div onclick="POS.settings.loadCategory('appearance')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/image-outline.svg"> Appearance
    </div>
    <div onclick="POS.settings.loadCategory('network')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/wifi-outline.svg"> Network
    </div>
    <div onclick="POS.settings.loadCategory('info')" class="app-window-category">
        <img class="icon" src="/src/views/system/icons/UI/info-outline.svg"> Info
    </div>
</div>
<div class="app-window-split right" id="settings_view">
    
</div>