<script src="/src/views/apps/settings/js/settings.js"></script>
<div class="app-window-split left">
    <div onclick="POS.settings.loadCategory('general')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:home-alt" data-inline="false"></span> General
    </div>
    <div onclick="POS.settings.loadCategory('display')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:monitor" data-inline="false"></span> Display
    </div>
    <div onclick="POS.settings.loadCategory('sound')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:volume" data-inline="false"></span> Sound
    </div>
    <div onclick="POS.settings.loadCategory('appearance')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:brush-alt" data-inline="false"></span> Appearance
    </div>
    <div onclick="POS.settings.loadCategory('network')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:wifi" data-inline="false"></span> Network
    </div>
    <div onclick="POS.settings.loadCategory('info')" class="app-window-category">
        <span class="iconify icon" data-icon="uil:info-circle" data-inline="false"></span> Info
    </div>
</div>
<div class="app-window-split right" id="settings_view">
    
</div>