<script src="/src/views/apps/settings/js/settings.js"></script>
<div class="app-window-split left">
    <div onclick="settings.loadCategory('general')" class="app-window-category">
        <span class="app-window-category-icon mdil mdil-home"></span> General
    </div>
    <div onclick="settings.loadCategory('system')" class="app-window-category">
        <span class="app-window-category-icon mdil mdil-television"></span> System
    </div>
    <div onclick="settings.loadCategory('appearance')" class="app-window-category">
        <span class="app-window-category-icon mdil mdil-image"></span> Appearance
    </div>
    <div onclick="settings.loadCategory('network')" class="app-window-category">
        <span class="app-window-category-icon mdil mdil-signal"></span> Network
    </div>
    <div onclick="settings.loadCategory('info')" class="app-window-category">
        <span class="app-window-category-icon mdil mdil-information"></span> Info
    </div>
</div>
<div class="app-window-split right" id="settings_view">
    
</div>